<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/chat.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    link(rel="api" href=`${api}`)
    <title>DisChat</title>
</head>
<body>
    <div class="dischat">
        form.hidden.create-box
            .form-container
              label(for="serverName") Add a Server:
                img#create-box.close-out-form(src="/images/delete-icon.png")
            input.form-input-cool(id='newServer' type="text" name="serverName" placeholder="What do you want to call your server? Be creative!" autocomplete="off")
            <input class="submit form-button-cool" type="submit" role="button" name="add-server" value="Add Server"><br>

        form.hidden.create-channel
            .form-container
              label(for="channelName") Add a Channel:
                img#create-channel.close-out-form(src="/images/delete-icon.png")
            input.form-input-cool(id='newChannel' type="text" name="channelName" autocomplete="off")
            <input class="submit form-button-cool" type="submit" role="button" name="add-channel" value="Add Channel"><br>

        form.hidden.join-server
            .form-container
              label(for="joinServerName") Join Server:
                img#join-server.close-out-form(src="/images/delete-icon.png")
            input.form-input-cool(id='newJoinServer' type="text" name="joinServerName" placeholder="Please enter the name of the server you'd like to join." autocomplete="off")
            p#server-not-found-text
            <input id='join-server-button' class="submit form-button-cool" type="submit" role="button" name="join-server" value="Join Server"><br>

        form.hidden.confirm-join-server
            .join-server-label
              img#confirm-join-server.weird-form(src="/images/delete-icon.png")
            p#join-server-confirm-text.weird-form-label
            button(class="server-join-confirm form-button-cool" ) Confirm
            button(class="server-join-deny form-button-deny" ) Cancel

        form.hidden.confirm-leave-server
            .leave-server-label
               img#confirm-leave-server.weird-form(src="/images/delete-icon.png")
            p.weird-form-label Do you wish to leave this server?
            button(class="server-leave-confirm form-button-cool") Confirm
            button(class="server-leave-deny form-button-deny") Cancel

        form.hidden.confirm-delete-channel
            .leave-server-label
              img#confirm-delete-channel.weird-form(src="/images/delete-icon.png")
            p.weird-form-label Do you wish to delete this channel?
            button(class="delete-channel-confirm form-button-cool") Confirm
            button(class="delete-channel-deny form-button-deny") Cancel

        form.hidden.confirm-logout
            .leave-server-label
                img#confirm-logout.weird-form(src="/images/delete-icon.png")
            p.weird-form-label Are you sure you want to logout?
            button(class="logout-confirm form-button-cool") Confirm
            button(class="logout-cancel form-button-deny") Cancel

        .hidden.app-info
            .app-info-label
                img#app-info.app-info-page(src="/images/delete-icon.png")
            section.app-info__main
                section.app_info__header
                    div
                        h2 Welcome to DisChat!

                section.app-info__body
                    .p1
                        p talk about how to send messages and switch between servers and channels.
                    .p2
                        p talk about how to create and join servers
                    .p3
                        p talk about how to create and delete channels


                footer.app-info__footer
                    h5.dev-info__heading Meet the developers
                    ul.dev-info

                        li.dev-info__item
                                p Alfredo Quiroga
                                div.dev-info__links
                                    i.fa.fa-github
                                        a(href="/github")
                                    i.fa.fa-linkedin
                                        a(href="/github")
                                    i.fa.fa-angellist
                                        a(href="/github")
                        li.dev-info__item
                                p
                                    a(style="color:white" href="https://christalley.dev") Chris Talley
                                div.dev-info__links
                                    a( href="https://github.com/christophertalley")
                                        i.fa.fa-github
                                    a(href="https://www.linkedin.com/in/chris-talley-91814a19b/")
                                        i.fa.fa-linkedin
                                    a(href="https://angel.co/u/chris-talley-3")
                                        i.fa.fa-angellist
                        li.dev-info__item
                                p Mark Mansolino
                                div.dev-info__links
                                    a( href="https://github.com/markjm610")
                                        i.fa.fa-github
                                    a(href="https://www.linkedin.com/in/markmansolino/")
                                        i.fa.fa-linkedin
                                    a(href="https://angel.co/u/mark-mansolino")
                                        i.fa.fa-angellist



        <div class="servers">
            <div class="user-servers">
                <ul id="server-list-home">
                    <li class="home-li">
                          <img src="/images/pngwave.png" id='logo' class="server-display" alt="NO IMAGE">
                    </li>
                <ul id="server-list" >
                    //- <li class="home-li">
                    //-       <img src="/images/pngwave.png" class="server-display" alt="NO IMAGE">
                    //- </li>
                </ul>
                <ul id="server-list-nav">
                    <li class="add-li" id="add-button">
                      <img src="/images/add-server.png" class="server-display">
                    </li>
                    <li class="join-li" id="join-button">
                      <img src="/images/join-icon.png" class="server-display">
                    </li>
                    <li class="leave-li" id="leave-button">
                      <img src="/images/leave-icon-2.png" class="leave-server-display">
                    </li>
                </ul>
            </div>
        </div>
        <div class="channels">
            <div class="server">
                <h3 class="server-name"></h3>
            </div>
            <div class="channel">
                <div class="text-channel">
                    <p class="show-channels">Channels </p>
                    <p class="add-channel">+</p>
                </div>
                <ul class="display-channels">
                </ul>
            </div>
            <div class="user">
                div.user-container
                    <p class="username"></p>
                    img#logout-icon(src="/images/logout-icon.png")
            </div>
        </div>
        <div class="chat">
            <div class="chat-box">
                <div class="channel-name">
                    h3#channel-name
                    img#delete-icon(src="/images/delete-icon-2.png")
                </div>
                <div class="message">
                </div>
                <div class="message-input">
                  form.new-message-form#new-message-form
                    label(for="newMessage")
                    input(id="new-message" type="text" name="newMessage" placeholder="new message...." autocomplete="off")
                    button.message-submit(type='submit') Send
                </div>
            </div>
            <div class="chat-users">
                div.users-column
                    h3#server-label Server Members
                div.users
                  ul#users-list
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
script(src="/js/add-server.js")
script(src="/js/chat.js")
script(src="/js/add-channel.js")
script(src="/js/load-content.js")
script(src="/js/join-server.js")
script(src="/js/search-servers.js")
script(src="/js/leave-server.js")
script(src="/js/delete-channel.js")
script(src="/js/logout-user.js")
script(src="/js/server-text.js")
script(src="/js/close-forms.js")
script(src="/js/app-info.js")
<script src="https://use.fontawesome.com/f8b076820b.js"></script>
//- script(src="/js/load-messages.js")
</html>
